@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #09090B;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}